:root {
  --ifm-color-primary: #38526a;
  --ifm-color-primary-dark: #324a5f;
  --ifm-color-primary-darker: #30465a;
  --ifm-color-primary-darkest: #27394a;
  --ifm-color-primary-light: #3e5a75;
  --ifm-color-primary-lighter: #405e7a;
  --ifm-color-primary-lightest: #496b8a;
}

[data-theme="dark"] {
  --ifm-color-primary: #7da5c5;
  --ifm-color-primary-dark: #6796bb;
  --ifm-color-primary-darker: #5c8eb6;
  --ifm-color-primary-darkest: #46759c;
  --ifm-color-primary-light: #93b4cf;
  --ifm-color-primary-lighter: #9ebcd4;
  --ifm-color-primary-lightest: #c0d3e3;
}
